#deepika
{
margin-left:180px;
}


#search
{

margin-left:200px;
margin-top:200px;
width:309px;
height:156px;
}


#logo

{
float:left;
margin-left:0px;
margin-top:2px;
width:309px;
height:156px;
text-align:center;

background-repeat:no-repeat;
background-attachment:fixed;

}



#headercontainer
{
height:269px;
width:1341px;
}


#photo
{
width:904px;
height:427px;
margin-top:10px;
margin-left:430px;
background:url(../images/signup.png)no-repeat;
}
#photo1
{
width:904px;
height:427px;
margin-top:10px;
margin-left:430px;
background:url(../images/vit.png)no-repeat;
}
#photo1
{
width:904px;
height:330px;
margin-top:10px;
margin-left:430px;
background:url(../images/vit1.jpg) repeat-x center ;
}

#toolcontainer
{
height:290px;
}
#buttons1
{
float:left;
margin-top: 60px; 
margin-left: 10px;
width:325px;
height:200px;
}


#buttons
{
float:left;
margin-top: 60px; 
margin-left: 10px;
width:240px;
height:240px;
}


#formcontainer
{
width:370px;
height:230px;
margin-top:-370px;

background:url(../images/bit.png);
}

#formcontainer1
{

width:370px;
height:150px;
margin-top:-350px;

background:url(../images/bit.png);

}


#top
{
width:964px;
height:256px;
padding: 0px;
margin: 0 370px; 
background:url(../images/blue.png);
}

#message
{
width:966px;
height:79px;
padding: 0px;
margin: 0 370px; 
background:url(../images/tab.png) no-repeat;
}

#statement
{
width:300px;
height:100px;
margin-top:0px;
margin-bottom:5px;
}

#menu
{

float:right;
width:661px;
height:48px;
background:url(../images/grey.png);
}

#menu1
{

float:right;
width:661px;
height:48px;
background:url(/bsnl/broadband/images/grey.png);
}




.fonc
{
font-family:Palatino Linotype;
font-size:30px;
text-align:center;
font-weight:bold;
}


.foncc
{
font-family:Palatino Linotype;
font-size:40px;
text-align:center;
//font-weight:bold;
}


.fonccc
{
font-family:Palatino Linotype;
font-size:38px;
text-align:center;
color:#838B8B;
//font-weight:bold;
}

.foncccc
{
font-family:Palatino Linotype ;
font-size:30px;
text-align:center;
color:black;
}



#vtop
{
width:1334px;
height:13px;
margin:0 0px;
background:url(../images/top.png);
}

#newtop
{
width:1335px;
height:168px;
margin:0 0px;

}


#newtop1
{
width:1335px;
height:168px;
margin:0 0px;

}


#dp
{
width:310px;
height:310px
margin-left:9px;
}

#profile
{
width:307px;
height:27px;
margin-left:2px;
margin-top:60px;
}

#info1
{
width:307px;
height:27px;
margin-left:2px;
}



#board

{
width:1017px;
height:311px;
margin-left:320px;
background:url(../images/blu3.png);
margin-top:-311px;

}

#address
{
width:406px;
height:200px;
margin-left:615px;
color:#838B8B;
//background:url(../images/papered.png) ;
}




#info
{
width:310px;
height:180px;
margin-top:-100px;
background:url(../images/papered.png);
font-family:Palatino Linotype;
font-size:30px;
text-align:center;
font-weight:bold;

}



#department
{
width:1017px;
height:93px;
margin-left:320px;
margin-top:-250px;
background:url(../images/back.png);
}

#list
{
width:320px;
height:84px;
margin-left:400px;
margin-top:-400px;

}


body
{
margin-top:0px;
margin-left:0px;
font-family:Tahoma;
background:url(../images/back.jpg);



}

#profilebody
{
background:url(../images/blue.png);
}

#signupbody{
background:url(../images/blue3.png);
}











#complaint
{
margin-left:20px;
margin-top:20px;
width:600px;
background:url(../images/backk.png);
color:white;
}

#complaint1
{
margin-left:20px;
margin-top:20px;
width:600px;
background:url(../images/backk.png);
color:white;
}

#spacer
{
width:600px;
height:100px;
background:url(../images/back.png);
}

#name
{

height:50px;
background:url(../images/violet.png);
font-size:30px
}

#phone
{

height:50px;
background:url(../images/violet.png);
font-size:30px
}

#email
{
height:50px;
background:url(../images/backk.png);
font-size:30px
}


#title
{
height:50px;

font-size:15px
}

#content{

height:100px;

font-size:15px
}


#upload
{
margin-left:20px;
margin-top:20px;
width:600px;
background:url(../images/backk.png);
color:white;
font-size:20px;
}


#label
{
margin-left:20px;
background:url(../images/backk.png);
color:white;
font-size:40px;
}



#solution
{
margin-left:20px;
width:600px;
background:url(../images/sundar.png);
font-size:15px;

}

#othercomments
{
margin-left:20px;
width:600px;

font-size:15px;
color: black;
}

#name1
{

height:30px;
width:200px;
background:url(../images/backk.png);
font-size:20px
}


#content1
{
background:url(../images/papered.png);
}
a{text-decoration:none;
}


#time
{

margin-left:600px;
color:green;
}

#resolved
{margin-left:620px;
margin-top:-95px;
color:green;

}

#declare
{
width:600px;
margin-left:20px;
color:white;
font-size:30px;
font-family:Palatino Linotype;
background:url(../images/backk.png);
}

#liner
{
width:600px;
margin-left:20px;
height:20px;
color:white;
background:url(../images/black.png);
text-align:center;
}



#review1
{
margin-left:1000px;
background:url(../images/backk.png);
width:340px;
height:62px;

font-size:39px;
text-align:center;

}

a:link { color: white; }
a:hover { color: #of0; }
a:active { color: #0f0; }
a:visited{color: white;}
a 
a:link { color: white; }
a:hover { color: #of0; }
a:active { color: #0f0; }
a:visited{color: white;}
input{
background:#e8e8e8;
font-size:20px;
}



#dp1
{
width:310px;
height:310px;
margin-left:625px;
margin-bottom:-330px;

}

#bar{
width:928px;
height:50px;
margin-left:310px;
margin-top:-310px;
font-size:30px;
color:white;
background:url(../images/backk.png);
}

#message
{
background:url(../images/backk.png);
}