
.smooth
{
padding:1px;
}


.smooth ul
{
z-index:0;
margin:0;
padding :0 0 0 30px;
list-style-type:none;
}

.smooth ul li{
position:relative;
display:inline;
float:left;//important
}



.smooth ul li a {
	display: block;
	height: 42px;
	padding: 0 30px 0 20px;
	line-height: 42px;
	font-size: 25px;
	color: #bbb3ac;	
	text-align: center;
	text-decoration: none;
	font-weight: 400;
	outline: none;
}

* html .smooth ul li a
{ 
display: inline-block;
}

.smooth ul li a.selected, .smooth ul li a:hover { /*CSS class that's dynamically added to the currently active menu items' LI A element*/
	color: #0ad6e7;
}



